.Home {
    height: 500px;
    margin: 100px;
}

.title {
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.title span {
    background-color: rgba(197, 195, 197, 0.4);
    text-shadow: 0 0 10px #ffffff, 0 0 15px #f5f4f7;
    text-decoration: underline;
}

.gts {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black
}

.gts span {
    background-color: rgba(197, 195, 197, 0.4);
    text-shadow: 0 0 10px #ffffff, 0 0 15px #f7f6f8;
    text-decoration: underline;
}