.drinkcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.9vmin solid rgb(36, 24, 1);
    border-radius: 70px;
    margin: 9vmin;
    padding: 3vmin;
    color: rebeccapurple;
    background-color: rgb(145, 143, 143, 0.7);
    text-shadow: 0 0 10px #ffffff, 0 0 15px #6106d1;
}

.heading {
    color: rgb(11, 7, 1);
    text-shadow: 0 0 20px #11c40a, 0 0 20px #753b8b;
    text-decoration: underline;
    font-size: 40px;
}