.drinkcard {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 0 0 10px #ffffff, 0 0 15px #6106d1;
}

.drinkcard span {
    border: 0.7vmin solid rebeccapurple;
    margin: 9vmin;
    padding: 7vmin;
    border-radius: 40px;
    background-color: rgb(245, 244, 245, 0.5);
}

.heading {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px #ffffff, 0 0 15px #6106d1;
    text-decoration: underline;
    font-size: xxx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading span {
    background-color: rgb(145, 143, 143, 0.8);
}

.drinklist {
    background-color: black;
}