.mydrinks {
    background-image: url("https://imgur.com/YjbDNr2.jpg");
    background-size: cover;
    height: 160vh;
    margin-top: 50px;
    border-radius: 50px;
}

.mycocktail {
    font-size: xxx-large;
    text-decoration: underline;
    color: rebeccapurple;
    text-shadow: 0 0 10px #ffffff, 0 0 15px #6106d1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px;
}