.mydrinks {
    background-image: url("https://imgur.com/YjbDNr2.jpg");
    background-size: cover;
    height: 160vh;
    margin-top: 30px;
    border-radius: 50px;
}

.mycocktail {
    font-size: xxx-large;
    text-decoration: underline;
    color: rebeccapurple;
    text-shadow: 0 0 3px #110a00, 0 0 5px #f5f2f1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}