.navbar {
    background-image: url("https://imgur.com/FtNKTvD.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(197, 195, 197, 0.5);
    height: 80px;
    border-radius: 20px;
    border: 4px solid rebeccapurple;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px #ffffff, 0 0 15px #6106d1;
}